@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500&display=swap");

:root {
  --width-img-preco: 180px;
  --site-font: "Overpass", sans-serif;
  --highlight-color-1: #d1a698;
  --highlight-color-2: #cb9888;
  --highlight-color-3: #dc9883;
  --background-color: #ede7df;
  --green-text-color: #60664f;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  font-family: var(--site-font);
}

h1,
h2,
h3,
p,
span {
  font-family: var(--site-font);
  color: var(--green-text-color);
}

p {
  margin: 0;
}

.button span{
  font-weight: 600;
}
/*Cabeçalho*/

/*/Cabeçalho*/

.secao_cima {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  margin-bottom: 60px;
  width: calc(100vw - 260px);
  & .container_esq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & .avaliacao {
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;
      & span {
        font-size: 21px;
      }
      & .pri_linha {
        display: inline-flex;
        justify-content: center;
        & * {
          margin: 0;
          padding: 0;
        }
        & span {
          margin: 3px 10px 0 0;
        }
      }
    }
    & .estrelas {
      width: 23.48px;
      height: 23.48px;
      position: center;
      padding-left: 1px;
      padding-top: 8px;
    }
    & .container_produto {
      display: flex;
      background-color: var(--highlight-color-1);
      width: 375px;
      height: 250px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin-bottom: 7%;
    }
    & img#produto {
      width: 240px;
    }
  }
}

.container_dir {
  position: relative;
  top: 75px;
  & h1#nome_produto {
    margin: 0;
    font-size: 4.5rem;
  }
  & span#user + span {
    display: block;
  }
}

#linha_info_loja{
  background-color: var(--green-text-color);
  margin-top: 0;
  margin-bottom: 6%;
}

h2#preco_comp {
  margin: 0;
  font-size: 5rem;
}

#botao_comparar {
  height: 7.2rem;
  width: 45%;
  border-radius: 15px;
}

.info_loja{
  font-size: 2.6rem;
}

#texto_botao_comparar{
  font-size: 3rem;
}

& .flex_comparador {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2vw;
}

.preco_comp {
  font-size: 8.1rem;
  line-height: 5px;
}

.secao_baixo {
  width: 100%;
}

h3#heading_produtos {
  font-size: 4rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

.produtos {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.flex_ordenar {
  display: flex;
  align-items: center;
  & .ordenar {
    font-size: 3.1rem;
    position: relative;
    top: -0.3rem;
  }
}

.botao_ordenar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #cb9888ce;
  width: 9.4rem;
  height: 2.8rem;
  border-radius: 6.8px;
  margin: 2.2rem 1.4rem;
  & span {
    font-size: 1.5rem;
  }
}

.grid-produtos {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2%;
  column-gap: 0px;
  width: 100%;
  height: auto;
  justify-content: start;
  justify-items: start;
  & .produto_padrao {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
  }
  & .nome_padrao {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
  & .preco_padrao {
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
    width: var(--width-img-preco);
  }
  justify-content: start;
  justify-items: start;
  /* margin-bottom: 50px; */
}

.div_imagem_padrao {
  background-color: var(--highlight-color-1);
  width: 23rem;
  height: 23rem;
  border-radius: 21.83px;
  & .imagem_padrao {
    object-fit: cover;
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }
}

.avaliacao_imagem {
  padding: 5px;
}

.av {
  margin: 0;
  font-size: 20.77px;
  text-align: center;
  margin-bottom: 10px;
}

.imagem_produto {
  display: flex;
  background-color: var(--highlight-color-2);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.imagem_icone {
  width: 75%;
  height: 75%;
}

.nome_produto {
  padding: 0px;
  grid-column-start: 1;
}

.imagem_padrao {
  background-color: var(--highlight-color-2);
  width: 152.38px;
  height: 152.38px;
  border-radius: 21.83px;
}

.divisao {
  grid-column-start: 2;
}

#botao_salvar {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--highlight-color-2);
  width: 179px;
  height: 63px;
  border-radius: 15.13px;
  & #icone_botao_salvar{
    padding-top: 2px;
    height: 46px;
    width: 40px;
    vertical-align: middle;
  }
}





.button {
  background-color: var(--highlight-color-2);
  border-radius: 10px;
  border-color: var(--highlight-color-2);
  border-width: 3px;
  text-align: center;
  font-size: 2.8rem;
  &:hover{
    background-color: var(--highlight-color-3);
    border-color: var(--highlight-color-3);
  }
}

.proporcao {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 21.83px;
}
