@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500&display=swap");

:root {
  --width-img-preco: 180px;
  --site-font: "Overpass", sans-serif;
  --highlight-color-1: #d1a89a;
  --highlight-color-2: #cb9888;
  --highlight-color-3: #dc9883;
  --background-color: #ede7df;
  --green-text-color: #60664f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--background-color);
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
}

#preco_produto{
  font-size: clamp(4rem, 4vw, 5rem);
}

.conteudo {
  margin: clamp(2rem,5vw,5rem);
}

/*Seção Cima*/

.secao_cima {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.container_dir,
.container_esq {
  flex: 1;
}

.container_esq {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50rem;
}

.avaliacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.numero_estrelas {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.numero {
  position: relative;
  top: 0.4rem;
}

.estrelas {
  display: flex;
}

.estrela {
  width: 2.5rem;
}

.container_produto {
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--highlight-color-1);
  border-radius: 2rem;
  & img{
    width: 20rem;
  }
}

.botao {
  font-weight: 700;
  background-color: var(--highlight-color-2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  width: fit-content;
  border-radius: 1rem;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.botao:hover {
  background-color: var(--highlight-color-3);
}

.botao_salvar {
  gap: 1rem;
  & img {
    width: 3rem;
  }
}

.container_dir {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.comparador {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

/*Seção Baixo*/

.secao_baixo {
  /* display: none; */
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h3#heading_produtos {
  font-size: clamp(2.3rem,5vw,4rem);
  margin-block-start: 0;
  margin-block-end: 0;
}

.flex_ordenar {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  gap: 1rem;
  & .ordenar {
    font-size: 3.1rem;
    position: relative;
    top: -0.3rem;
  }
}

#texto_ordenar{
  font-size: clamp(1rem,5vw,2rem);
  margin-right: 2.5rem;
}

.botao_ordenar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: var(--highlight-color-3);
  width: 9.4rem;
  height: 2.8rem;
  border-radius: 6.8px;
  & span {
    font-size: 1.5rem;
  }
}

.grid-produtos {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  column-gap: 0;
  width: 100%;
  height: auto;
  justify-content: start;
  justify-items: start;
}

.produto_padrao {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.nome_padrao {
  text-align: center;
  margin-top: 0.5rem;
  font-size: clamp(1.7rem,1.8vw,2.3rem);
}

.preco_padrao {
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
  width: var(--width-img-preco);
}

.div_imagem_padrao {
  display: flex;
  justify-content: center;
  width: clamp(90%,20vw,80%);
  & .imagem_padrao {
    object-fit: cover;
    width: inherit;
    height: inherit;
    aspect-ratio: 1;
    border-radius: 1rem;
  }
}

.imagem_produto {
  display: flex;
  background-color: var(--highlight-color-2);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

#nome_produto{
  font-size: clamp(2.5rem, 5vw, 4rem);
}

.button {
  background-color: var(--highlight-color-2);
  border-radius: 10px;
  border-color: var(--highlight-color-2);
  border-width: 3px;
  text-align: center;
  font-size: 2.8rem;
  &:hover {
    background-color: var(--highlight-color-3);
    border-color: var(--highlight-color-3);
  }
}

#botao_salvar {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--highlight-color-2);
  width: 18rem;
  height: 6rem;
  border-radius: 15px;
  & #icone_botao_salvar {
    padding-top: 2px;
    height: 4.6rem;
    width: 4rem;
    vertical-align: middle;
  }
}

/*Media Queries*/

@media screen and (max-width: 960px){
  .grid-produtos{
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .container_dir,
  .container_esq {
    flex: 100%;
  }
  .container_esq {
    max-width: none;
  }
}

@media screen and (max-width: 700px) {
  .grid-produtos{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .grid-produtos{
    grid-template-columns: repeat(1, 1fr);
  }
}