@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500&display=swap");

:root {
  --width-img-preco: 180px;
  --site-font: "Overpass", sans-serif;
  --highlight-color-1: #d1a698;
  --highlight-color-2: #cb9888;
  --highlight-color-3: #dc9883;
  --background-color: #ede7df;
  --green-text-color: #60664f;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  font-family: var(--site-font);
  margin: 0;
}

/*Header*/
.cabecalho-geral {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 10px;
  & > nav,
  nav > a {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-family: var(--site-font);
    color: var(--green-text-color);
    & > a {
      text-decoration: none;
    }
  }
}

nav > img#icone-lupa {
  width: 35px;
}

.cabecalho-logo {
  font-size: 3rem;
}

.cabecalho-icon {
  display: inline;
  width: 4rem;
}

.cabecalho-texto {
  display: inline;
  font-size: 25px;
  margin: 0;
}

.barra-pesquisa {
  border: none;
  border-radius: 15px;
  width: 38rem;
  height: 3rem;
  background-color: var(--highlight-color-2);
  font-family: inherit;
  font-size: 2rem;
  padding-left: 2rem;
}

hr {
  height: 5px;
  width: 100%;
  border: 0px;
  background-color: var(--green-text-color);
  border-radius: 3px;
  margin: 0 0 5rem 0;
}