@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

:root {
  --width-img-preco: 180px;
  --site-font: "Overpass", sans-serif;
  --site-font-2: "Nunito Sans", sans-serif;
  --highlight-color-1: #d1a89a;
  --highlight-color-2: #cb9888;
  --highlight-color-3: #dc9883;
  --background-color: #ede7df;
  --green-text-color: #60664f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  /* padding: clamp(2rem, 5vw, 5rem) */
}

.conteudo{
  padding: clamp(2rem, 5vw, 5rem);
}

.cabecalho_logo, .nav_item, .produto_padrao, .loja_padrao{
  cursor: pointer;
}

/*Header*/
.cabecalho_geral {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 0.3rem 1rem;
}

.nav_link{
  display: flex;
  align-items: center;
  /* gap: 0.4rem; */
  column-gap: 1rem;
  font-family: var(--site-font);
  color: var(--green-text-color);
  text-decoration: none;
}

#icone_lupa {
  width: 3.5rem;
}

.cabecalho_logo {
  font-size: 3rem;
  font-family: var(--site-font);
}

.cabecalho_icon {
  display: inline;
  width: 4rem;
}

.cabecalho_texto {
  display: inline;
  /* font-size: 2.5rem; */
  font-size: clamp(2rem,2vw,2.5rem);
  margin: 0;
}

.cabecalho_barra_pesquisa{
  display: flex;
  column-gap: 1.5rem;
}

.barra_pesquisa {
  border: none;
  border-radius: 15px;
  /* width: 38rem; */
  width: 90%;
  height: 3rem;
  background-color: var(--highlight-color-2);
  font-family: inherit;
  font-size: 2rem;
  padding-left: 2rem;
}

hr {
  height: 0.5rem;
  width: 100%;
  border: 0px;
  background-color: var(--green-text-color);
  border-radius: 3px;
  margin: 0 0 5rem 0;
}

::placeholder{
  font-family: var(--site-font);
}
/*/Header*/

section{
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(5rem,5vw,12rem);
}

.titulo, .nome_padrao, .preco_padrao{
  font-family: var(--site-font);
}

.titulo {
  font-size: clamp(1.8rem,5vw,4.8rem)
}

.subtitulo {
  font-family: var(--site-font-2);
  font-size: clamp(1.7rem,3.5vw,2.5rem);
  margin-bottom: 2rem;
}

.grid_produtos {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  row-gap: 2rem;
  column-gap: 0;
  width: 100%;
  height: auto;
  justify-content: start;
  justify-items: start;
}

.produto_padrao {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.nome_padrao {
  text-align: center;
  margin-top: 0.5rem;
  /* font-size: clamp(1.7rem, 1.8vw, 2.3rem); */
  font-size: clamp(1.4rem, 1vw, 2rem);
}

.preco_padrao {
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
  width: var(--width-img-preco);
}

.div_imagem_padrao {
  display: flex;
  justify-content: center;
  width: clamp(90%, 20vw, 80%);
  & .imagem_padrao {
    object-fit: cover;
    width: inherit;
    height: inherit;
    aspect-ratio: 1;
    border-radius: 1rem;
  }
}

#titulo_lojas_proximas{
  margin-bottom: 2rem;
}

.grid_lojas{
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(5, 1fr);
  row-gap: 2rem;
  column-gap: 0;
  width: 100%;
  height: auto;
  justify-content: start;
  justify-items: start;
}

.loja_padrao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(90%, 20vw, 80%);
  & .loja_img {
    object-fit: cover;
    width: inherit;
    height: inherit;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}

/*Footer*/
.rodape_geral {
  display: flex;
  /* height: 6rem; */
  height: calc(4vh + 50px);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #686565;
}

#rodape_logo_ifrn {
  width: clamp(10rem,10vw,14rem);
  /* height: 5.3rem; */
}

.rodape_geral #rodape_info {
  color: var(--background-color);
  font-family: var(--site-font);
  font-size: clamp(1.1rem,2vw,1.8rem);
  margin: 0;
}
/*/Footer*/

/*Media Queries*/

@media screen and (min-width: 700px){
  .cabecalho_barra_pesquisa{
    flex-basis: calc(25vw + 100px);
  }
}

@media screen and (max-width: 1300px){
  .nav_link{
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .grid_produtos, .grid_lojas{
    grid-template-columns: repeat(4, 1fr);
  }
  .nav_link p{
    display: none;
  }
}

@media screen and (max-width: 830px) {
  .grid_produtos, .grid_lojas{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px){
  .info_loja{
    display: flex;
    column-gap: 5rem;
    flex-basis: 50%;
  }
  .container_promocoes{
    margin-top: 30rem;
    right: 53rem;
    margin-bottom: 5rem;
    .promocoes{
      width: 62rem;
      height: 20rem;
    }
  }
  .grid-produtos{
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  
  h3#avaliacoes{
    margin-top: 35%;
  }
  .users_avalia{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
  }
  .heading{
    margin-top: 20px;
  }
}

@media screen and (max-width: 699px){
  .barra_pesquisa{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .grid_produtos, .grid_lojas{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .grid_produtos, .grid_lojas{
    grid-template-columns: repeat(1, 1fr);
  }
}
