@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

:root {
  --width-img-preco: 180px;
  --site-font: "Overpass", sans-serif;
  --site-font-2: "Nunito Sans", sans-serif;
  --highlight-color-1: #d1a89a;
  --highlight-color-2: #cb9888;
  --highlight-color-3: #dc9883;
  --background-color: #ede7df;
  --green-text-color: #60664f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  padding: clamp(2rem, 5vw, 5rem)
}

section{
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(5rem,5vw,12rem);
}

.titulo, .nome_padrao, .preco_padrao{
  font-family: var(--site-font);
}

.titulo {
  font-size: clamp(1.8rem,5vw,4.8rem)
}

.subtitulo {
  font-family: var(--site-font-2);
  font-size: clamp(1.7rem,3.5vw,2.5rem);
  margin-bottom: 2rem;
}

.grid_produtos {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  row-gap: 2rem;
  column-gap: 0;
  width: 100%;
  height: auto;
  justify-content: start;
  justify-items: start;
}

.produto_padrao {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.nome_padrao {
  text-align: center;
  margin-top: 0.5rem;
  /* font-size: clamp(1.7rem, 1.8vw, 2.3rem); */
  font-size: clamp(1.4rem, 1vw, 2rem);
}

.preco_padrao {
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
  width: var(--width-img-preco);
}

.div_imagem_padrao {
  display: flex;
  justify-content: center;
  width: clamp(90%, 20vw, 80%);
  & .imagem_padrao {
    object-fit: cover;
    width: inherit;
    height: inherit;
    aspect-ratio: 1;
    border-radius: 1rem;
  }
}

#titulo_lojas_proximas{
  margin-bottom: 2rem;
}

.grid_lojas{
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(5, 1fr);
  row-gap: 2rem;
  column-gap: 0;
  width: 100%;
  height: auto;
  justify-content: start;
  justify-items: start;
}

.loja_padrao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(90%, 20vw, 80%);
  & .loja_img {
    object-fit: cover;
    width: inherit;
    height: inherit;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}

/*Media Queries*/

@media screen and (max-width: 1000px) {
  .grid_produtos, .grid_lojas{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 830px) {
  .grid_produtos, .grid_lojas{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .grid_produtos, .grid_lojas{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .grid_produtos, .grid_lojas{
    grid-template-columns: repeat(1, 1fr);
  }
}
